## Data inspection using panadas

In [ ]:
import pandas as pd

Loading the data into a data frame

In [16]:
# loading the data and placing in a dataframe
pricee_s_a = pd.read_csv('data/prices-split-adjusted.csv')
pricee_s_a

,date,symbol,open,close,low,high,volume
0,2016-01-05,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0
...,...,...,...,...,...,...,...
851259,2016-12-30,ZBH,103.309998,103.199997,102.849998,103.930000,973800.0
851260,2016-12-30,ZION,43.070000,43.040001,42.689999,43.310001,1938100.0
851261,2016-12-30,ZTS,53.639999,53.529999,53.270000,53.740002,1701200.0
851262,2016-12-30,AIV,44.730000,45.450001,44.410000,45.590000,1380900.0
851263,2016-12-30,FTV,54.200001,53.630001,53.389999,54.480000,705100.0

Looking at the number of data points for each symbol

In [17]:
#checking the number of datapoints for each symbol
pricee_s_a["symbol"].value_counts()

symbol
KSU     1762
NOC     1762
ORCL    1762
OMC     1762
OKE     1762
        ...
KHC      378
HPE      304
CSRA     284
WLTW     251
FTV      126
Name: count, Length: 501, dtype: int64

Checking the date data-type & null values

In [18]:
# checking the data summary
pricee_s_a.info()
# Checking for the missing values
print(
    f"Missing values: "
    f"date: {pricee_s_a['date'].isna().sum()}, "
    f"symbol: {pricee_s_a['symbol'].isna().sum()}, "
    f"open: {pricee_s_a['open'].isna().sum()}, "
    f"close: {pricee_s_a['close'].isna().sum()}, "
    f"low: {pricee_s_a['low'].isna().sum()}, "
    f"high: {pricee_s_a['high'].isna().sum()}", 
    f"volume: {pricee_s_a['volume'].isna().sum()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 851264 entries, 0 to 851263
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    851264 non-null  object
 1   symbol  851264 non-null  object
 2   open    851264 non-null  float64
 3   close   851264 non-null  float64
 4   low     851264 non-null  float64
 5   high    851264 non-null  float64
 6   volume  851264 non-null  float64
dtypes: float64(5), object(2)
memory usage: 45.5+ MB
Missing values: date: 0, symbol: 0, open: 0, close: 0, low: 0, high: 0 volume: 0

There are no missing values

Cheking the unique stock indexes or symbols.

In [19]:
# Cheking the unique stock indexes or symbols, their number and listing them
unique_sympols = pricee_s_a["symbol"].unique()
len (unique_sympols)

501

In [20]:
unique_sympols.tolist()

['WLTW',
 'A',
 'AAL',
 'AAP',
 'AAPL',
 'ABC',
 'ABT',
 'ACN',
 'ADBE',
 'ADI',
 'ADM',
 'ADP',
 'ADS',
 'ADSK',
 'AEE',
 'AEP',
 'AES',
 'AET',
 'AFL',
 'AGN',
 'AIG',
 'AIZ',
 'AJG',
 'AKAM',
 'ALB',
 'ALK',
 'ALL',
 'ALXN',
 'AMAT',
 'AME',
 'AMG',
 'AMGN',
 'AMP',
 'AMT',
 'AMZN',
 'AN',
 'ANTM',
 'AON',
 'APA',
 'APC',
 'APD',
 'APH',
 'ARNC',
 'ATVI',
 'AVB',
 'AVGO',
 'AVY',
 'AWK',
 'AXP',
 'AYI',
 'AZO',
 'BA',
 'BAC',
 'BAX',
 'BBBY',
 'BBT',
 'BBY',
 'BCR',
 'BDX',
 'BEN',
 'BHI',
 'BIIB',
 'BK',
 'BLK',
 'BLL',
 'BMY',
 'BSX',
 'BWA',
 'BXP',
 'C',
 'CA',
 'CAG',
 'CAH',
 'CAT',
 'CB',
 'CBG',
 'CBS',
 'CCI',
 'CCL',
 'CELG',
 'CERN',
 'CF',
 'CHD',
 'CHK',
 'CHRW',
 'CI',
 'CINF',
 'CL',
 'CLX',
 'CMA',
 'CMCSA',
 'CME',
 'CMG',
 'CMI',
 'CMS',
 'CNC',
 'CNP',
 'COF',
 'COG',
 'COH',
 'COL',
 'COO',
 'COP',
 'COST',
 'CPB',
 'CRM',
 'CSCO',
 'CSX',
 'CTAS',
 'CTL',
 'CTSH',
 'CTXS',
 'CVS',
 'CVX',
 'CXO',
 'D',
 'DAL',
 'DD',
 'DE',
 'DFS',
 'DG',
 'DGX',
 'DHI',
 'DHR',
 'DIS',
 'DISCA',
 'DISCK',
 'DLR',
 'DLTR',
 'DNB',
 'DOV',
 'DOW',
 'DPS',
 'DRI',
 'DTE',
 'DUK',
 'DVA',
 'DVN',
 'EA',
 'EBAY',
 'ECL',
 'ED',
 'EFX',
 'EIX',
 'EL',
 'EMN',
 'EMR',
 'ENDP',
 'EOG',
 'EQIX',
 'EQR',
 'EQT',
 'ES',
 'ESRX',
 'ESS',
 'ETFC',
 'ETN',
 'ETR',
 'EW',
 'EXC',
 'EXPD',
 'EXPE',
 'EXR',
 'F',
 'FAST',
 'FCX',
 'FDX',
 'FE',
 'FFIV',
 'FIS',
 'FISV',
 'FITB',
 'FL',
 'FLIR',
 'FLR',
 'FLS',
 'FMC',
 'FOX',
 'FOXA',
 'FRT',
 'FSLR',
 'FTI',
 'FTR',
 'GD',
 'GE',
 'GGP',
 'GILD',
 'GIS',
 'GLW',
 'GOOG',
 'GOOGL',
 'GPC',
 'GPN',
 'GPS',
 'GRMN',
 'GS',
 'GT',
 'GWW',
 'HAL',
 'HAR',
 'HAS',
 'HBAN',
 'HBI',
 'HCN',
 'HCP',
 'HD',
 'HES',
 'HIG',
 'HOG',
 'HOLX',
 'HON',
 'HP',
 'HPQ',
 'HRB',
 'HRL',
 'HRS',
 'HSIC',
 'HST',
 'HSY',
 'HUM',
 'IBM',
 'ICE',
 'IDXX',
 'IFF',
 'ILMN',
 'INTC',
 'INTU',
 'IP',
 'IPG',
 'IR',
 'IRM',
 'ISRG',
 'ITW',
 'IVZ',
 'JBHT',
 'JCI',
 'JEC',
 'JNJ',
 'JNPR',
 'JPM',
 'JWN',
 'K',
 'KEY',
 'KIM',
 'KLAC',
 'KMB',
 'KMX',
 'KO',
 'KR',
 'KSS',
 'KSU',
 'L',
 'LB',
 'LEG',
 'LEN',
 'LH',
 'LKQ',
 'LLL',
 'LLTC',
 'LLY',
 'LMT',
 'LNC',
 'LNT',
 'LOW',
 'LRCX',
 'LUK',
 'LUV',
 'LVLT',
 'M',
 'MA',
 'MAA',
 'MAC',
 'MAR',
 'MAS',
 'MAT',
 'MCD',
 'MCHP',
 'MCK',
 'MCO',
 'MDLZ',
 'MDT',
 'MET',
 'MHK',
 'MJN',
 'MKC',
 'MLM',
 'MMC',
 'MMM',
 'MNST',
 'MO',
 'MON',
 'MOS',
 'MRK',
 'MRO',
 'MSFT',
 'MSI',
 'MTB',
 'MTD',
 'MU',
 'MUR',
 'MYL',
 'NBL',
 'NDAQ',
 'NEE',
 'NEM',
 'NFLX',
 'NFX',
 'NI',
 'NKE',
 'NOC',
 'NOV',
 'NRG',
 'NSC',
 'NTAP',
 'NTRS',
 'NUE',
 'NVDA',
 'NWL',
 'O',
 'OKE',
 'OMC',
 'ORCL',
 'ORLY',
 'OXY',
 'PAYX',
 'PBCT',
 'PBI',
 'PCAR',
 'PCG',
 'PCLN',
 'PDCO',
 'PEG',
 'PEP',
 'PFE',
 'PFG',
 'PG',
 'PGR',
 'PH',
 'PHM',
 'PKI',
 'PLD',
 'PM',
 'PNC',
 'PNR',
 'PNW',
 'PPG',
 'PPL',
 'PRGO',
 'PRU',
 'PSA',
 'PVH',
 'PWR',
 'PX',
 'PXD',
 'QCOM',
 'R',
 'RAI',
 'RCL',
 'REGN',
 'RF',
 'RHI',
 'RHT',
 'RIG',
 'RL',
 'ROK',
 'ROP',
 'ROST',
 'RRC',
 'RSG',
 'RTN',
 'SBUX',
 'SCG',
 'SCHW',
 'SE',
 'SEE',
 'SHW',
 'SIG',
 'SJM',
 'SLB',
 'SLG',
 'SNA',
 'SNI',
 'SO',
 'SPG',
 'SPGI',
 'SPLS',
 'SRCL',
 'SRE',
 'STI',
 'STT',
 'STX',
 'STZ',
 'SWK',
 'SWKS',
 'SWN',
 'SYK',
 'SYMC',
 'SYY',
 'T',
 'TAP',
 'TDC',
 'TEL',
 'TGNA',
 'TGT',
 'TIF',
 'TJX',
 'TMK',
 'TMO',
 'TROW',
 'TRV',
 'TSCO',
 'TSN',
 'TSO',
 'TSS',
 'TWX',
 'TXN',
 'TXT',
 'UAA',
 'UAL',
 'UDR',
 'UHS',
 'ULTA',
 'UNH',
 'UNM',
 'UNP',
 'UPS',
 'URBN',
 'URI',
 'USB',
 'UTX',
 'V',
 'VAR',
 'VFC',
 'VIAB',
 'VLO',
 'VMC',
 'VNO',
 'VRSK',
 'VRSN',
 'VRTX',
 'VTR',
 'VZ',
 'WAT',
 'WBA',
 'WDC',
 'WEC',
 'WFC',
 'WFM',
 'WHR',
 'WM',
 'WMB',
 'WMT',
 'WU',
 'WY',
 'WYN',
 'WYNN',
 'XEC',
 'XEL',
 'XL',
 'XLNX',
 'XOM',
 'XRAY',
 'XRX',
 'YHOO',
 'YUM',
 'ZBH',
 'ZION',
 'AIV',
 'CHTR',
 'LYB',
 'GM',
 'ABBV',
 'DLPH',
 'FB',
 'FBHS',
 'HCA',
 'KMI',
 'KORS',
 'MPC',
 'NLSN',
 'PSX',
 'TDG',
 'TRIP',
 'XYL',
 'ZTS',
 'COTY',
 'MNK',
 'NWS',
 'NWSA',
 'EVHC',
 'ALLE',
 'CFG',
 'NAVI',
 'QRVO',
 'SYF',
 'WRK',
 'KHC',
 'PYPL',
 'HPE',
 'CSRA',
 'FTV']

In [21]:
print(pricee_s_a['date'].head(10))

0    2016-01-05
1    2016-01-06
2    2016-01-07
3    2016-01-08
4    2016-01-11
5    2016-01-12
6    2016-01-13
7    2016-01-14
8    2016-01-15
9    2016-01-19
Name: date, dtype: object

Chekcing the date column

In [22]:
# Converts the 'date' column from string into a Timestamp, we need this for time-series operations
# in this data it has been already done otherwise we could use this line of code "prices['date'] = pd.to_datetime(prices['date'])" I was getting Erros.
print(pricee_s_a['date'].head(10))

0    2016-01-05
1    2016-01-06
2    2016-01-07
3    2016-01-08
4    2016-01-11
5    2016-01-12
6    2016-01-13
7    2016-01-14
8    2016-01-15
9    2016-01-19
Name: date, dtype: object

Sorting the data based on date and symbol and drop any duplicates

In [23]:
#Sorting the data based on symbol and date, and dropping the duplicates if any exist
pricee_s_a = pricee_s_a.sort_values(['symbol','date']).drop_duplicates()

Validity check on the data

In [24]:
# Keeping the valid data only, the logic is if the lowest price is not smaller than or equal to high price, the data is invalid and we drop it
pricee_s_a = pricee_s_a[pricee_s_a['low'] <= pricee_s_a['high']]

In [25]:
pricee_s_a

,date,symbol,open,close,low,high,volume
251,2010-01-04,A,22.453504,22.389128,22.267525,22.625180,3815500.0
718,2010-01-05,A,22.324749,22.145923,22.002861,22.331903,4186000.0
1186,2010-01-06,A,22.067240,22.067240,22.002861,22.174536,3243700.0
1654,2010-01-07,A,22.017168,22.038626,21.816881,22.045780,3095100.0
2122,2010-01-08,A,21.917024,22.031474,21.745350,22.067240,3733900.0
...,...,...,...,...,...,...,...
849261,2016-12-23,ZTS,53.200001,53.779999,53.180000,53.779999,1942400.0
849761,2016-12-27,ZTS,53.779999,53.720001,53.650002,54.150002,1345000.0
850261,2016-12-28,ZTS,53.759998,53.439999,53.349998,53.849998,1241900.0
850761,2016-12-29,ZTS,53.470001,53.619999,53.400002,53.779999,1046700.0
851261,2016-12-30,ZTS,53.639999,53.529999,53.270000,53.740002,1701200.0

Calculating and adding the log-return values as a new column

In [26]:
# calculating and adding returns values
# first we need to get a-day-before close as a new column, naming it "close_lag1" for each symbol
pricee_s_a['close_lag1'] = pricee_s_a.groupby('symbol')['close'].shift(1)
import numpy as np
# computing the log return
pricee_s_a['log_return_1d'] = np.log(pricee_s_a['close'] / pricee_s_a['close_lag1'])
pricee_s_a

,date,symbol,open,close,low,high,volume,close_lag1,log_return_1d
251,2010-01-04,A,22.453504,22.389128,22.267525,22.625180,3815500.0,NaN,NaN
718,2010-01-05,A,22.324749,22.145923,22.002861,22.331903,4186000.0,22.389128,-0.010922
1186,2010-01-06,A,22.067240,22.067240,22.002861,22.174536,3243700.0,22.145923,-0.003559
1654,2010-01-07,A,22.017168,22.038626,21.816881,22.045780,3095100.0,22.067240,-0.001298
2122,2010-01-08,A,21.917024,22.031474,21.745350,22.067240,3733900.0,22.038626,-0.000325
...,...,...,...,...,...,...,...,...,...
849261,2016-12-23,ZTS,53.200001,53.779999,53.180000,53.779999,1942400.0,53.259998,0.009716
849761,2016-12-27,ZTS,53.779999,53.720001,53.650002,54.150002,1345000.0,53.779999,-0.001116
850261,2016-12-28,ZTS,53.759998,53.439999,53.349998,53.849998,1241900.0,53.720001,-0.005226
850761,2016-12-29,ZTS,53.470001,53.619999,53.400002,53.779999,1046700.0,53.439999,0.003363
851261,2016-12-30,ZTS,53.639999,53.529999,53.270000,53.740002,1701200.0,53.619999,-0.001680

Showing the results for one symbol  ‘AAPL’ (top 10 rows)

In [27]:
# showing return for specific symbol
print(pricee_s_a.loc[pricee_s_a['symbol'] == 'AAPL', ['date', 'close', 'log_return_1d']].head(10))

            date      close  log_return_1d
254   2010-01-04  30.572857            NaN
721   2010-01-05  30.625713       0.001727
1189  2010-01-06  30.138571      -0.016034
1657  2010-01-07  30.082857      -0.001850
2125  2010-01-08  30.282858       0.006626
2593  2010-01-11  30.015715      -0.008861
3061  2010-01-12  29.674286      -0.011440
3529  2010-01-13  30.092857       0.014007
3997  2010-01-14  29.918571      -0.005808
4465  2010-01-15  29.418571      -0.016853